@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #1D2F6F;
    --secondary-color: #8390FA ;
    --accent1-color: #FAC748;
    --accent2-color: #F9E9EC;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Rowdies";
    --paragraph-font: Urbanist, sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    background-color: var(--accent2-color);
} 


header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	max-width: 1000px;
    background-color: var(--accent1-color);
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
    justify-content: flex-end;
	list-style: none;
	padding: 0;
    font-family: var(--heading-font);
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 150px;
	height: auto;
}

.navigation a {
	display: block;
	color: var(--primary-color);
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: var(--secondary-color);
	font-weight: 700;
	text-decoration: underline;
}
  
.hero {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;
    background-size: cover; 
    background-position: center;
}
  
.hero img {
    display: block;
    width: 100%;
    height: auto;
    
}

.hero-image img {
    opacity: 0.7;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
    text-align: center;
}

.hero-text p {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
}
  
.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--secondary-color);
    padding: 20px;
    color: var(--accent1-color);
}
  
.hero article p {
    margin-bottom: 10px;
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
}
  
.hero article img {
    float: right;
    width: 160px;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.features img {
    width: 400px;
}

.features-title h1 {
    text-align: center;
    color: var(--primary-color);
    font-family: var(--heading-font);
    text-decoration:overline underline;
}

.feature1 {
    text-align: center;
    grid-row: 2;
}

.feature1 h2 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

.feature2 {
    text-align: center;
    grid-row: 2;
}

.feature2 h2 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.history h2 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
    grid-row: 1;
    grid-column: 3;
}

.history p {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    grid-row: 2;
    grid-column: 1/ span 4;
}

.adventures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.adventures h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    grid-row: 1;
    grid-column: 3;
    text-align: center;
}

.adventures img {
    width: 180px;
    grid-row: 2;
}

.signup-form {
    color: var(--accent1-color);
    font-family: var(--heading-font);
    text-align: center;
}

.info {
    padding-left: 50px;
}

.info h1 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    text-align: center;
}

.info h2 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

.info p {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    padding-left: 50px;
}

iframe {
    padding-left: 100px;
    width: 400px;
    height: 200px;
}

.employee {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

.employee h3 {
    text-align: center;
    padding-left: 20px;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.employee img {
    padding-left: 20px;
    width: 180px;
}

form {
    margin: 0 auto;
    padding: 50px;
    max-width: 500px;
    border-top: 2px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    font-family: var(--paragraph-font);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.cta {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.cta a {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-decoration: none;
}

.cta a:hover {
    color: var(--secondary-color);
}

footer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer.sociallinks a {
    text-decoration: none;
    grid-column: 1;
}

.sociallinks img {
    width: 50px;
    margin-left: 10px;
    grid-column: 2;
}